    body{
        /*opacity:0.9;*/
        width:100%;
        text-align:center;
        color:yellow;
    }
    
    input {
        font-size: 3em;
        color: black;
    }
    
    #inputLayout {
        display:inline-block; 
        color:black; 
        text-align:left; 
        background-color:white; 
        padding:10px; 
        border-radius:10px;
    }
    
    #carouselExampleIndicators {
         margin: 0 auto;   
         width: 500px;
    }