#header {
    background-color: black;               /*1*/
    text-align: center;                    /*2*/
    text-decoration: underline;            /*3*/
}

h1 {
    color: white;                          /*4*/
    text-shadow: 2px 2px #808080;          /*5*/
}

.box {
    display: inline-block;                /*6*/
    color: black;                         /*7*/
    text-align: left;                     /*8*/
    background-color: #DCDCDC;            /*9*/
    padding: 10px;                        /*10*/
    border-style: solid;                  /*11*/
    border-radius: 10px;                  /*12*/
    border-color: black;                  /*13*/
    border-width: 1px;                    /*14*/
}

main {
    margin: 0px auto;                     /*15*/
    text-align: left;                     /*16*/
    width: 50%;                           /*17*/
}

input[type=submit] {
    padding: 15px;                        /*18*/
    background-color: #F5F5F5;            /*19*/
    font-size: 1em;                       /*20*/
}